.header {
  background-image: url("../img/m-h-day.jpg");
  border-bottom-right-radius: 50em 17em;
  background-size: cover;
  width: 100%;
  height: 42em;
  background-position-y: 58em; }

.landing-logo {
  position: relative;
  top: .4em;
  left: 11em; }

body {
  background: #bd3535; }

main {
  margin: 0 auto;
  width: 960px; }
