$headerImage: "../img/m-h-night.jpg";

$bgColor: #21232e;
$whiteText: #fff;
$textButtonColor: #fff;

$mainFont: 'Source Sans Pro', sans-serif;
$subMainFont: 'Fresca', sans-serif;
$buttonColor: #e3ac00;

$headerFooterTextColor: #ffffff;

$mainCardRadius: 5px;
$contentTextColor: #c0c0ce;
$highlightColor: #ff4e33;

$sectionColor:#3b3f50;

$bottomBlockGradient: linear-gradient(50deg, #da9e08 10%, #922b54 100%);