$headerImage: "../img/m-h-day.jpg";

$bgColor: #fff;
$whiteText: #fff;
$textButtonColor:  #fff;

$mainFont: 'Source Sans Pro', sans-serif;
$subMainFont: 'Hind', sans-serif;
$buttonColor: #699900;

$headerFooterTextColor: #2c2f3c;

$mainCardRadius: 5px;
$contentTextColor: #c0c0ce;
$highlightColor: #14a0c7;

$sectionColor:#21232e;

$bottomBlockGradient: linear-gradient(50deg, #65950c 10%, #2b59dd 100%);